/* color variables */
:root {
  --gw-dark-blue: #033c5a;
  --gw-white: #ffffff;
  --gw-light-blue: #0073AA;
  --gw-dark-grey: #444;
  --light-grey: #666;
  --bg-grey: #eee;
  --gw-hover: #a75523;
  --gw-buff: #aa9868;
  --gw-utility-buff: #e3dccc;
  --gw-hover-buff: #d9d0bb;
  --mobile-max: 765px;
}

/* fonts */
@font-face {
  font-family: "Gibson VF";
    src:
      url("fonts/GibsonVF-Regular.woff2") format("woff2"),
      url("fonts/GibsonVF-Regular.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Gibson VF";
      src:
        url("fonts/GibsonVF-Italic.woff2") format("woff2"),
        url("fonts/GibsonVF-Italic.woff") format("woff");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }

/* shared */

body,
html {
  min-height: 100vh;
}

body {
  position: relative;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
    font-family: "Gibson VF", Helvetica, Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

#header {
  background-color: var(--gw-white);
}

#header h1,
#header h1 a {
  display: inline;
  max-width: 21rem;
  color: var(--gw-dark-blue);
  font-weight: 200;
  font-size: 1.3125rem;
  line-height: 1.3;
  margin-bottom: 0;
  text-decoration: none;
}


#header .site-name {
  margin-left: 1.5rem;
}

h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.3em;
  font-size: 2.05em;
  font-weight: 500;
  color: var(--gw-dark-blue);
}

h3 {
  color: var(--gw-dark-blue);
  margin: 0 0 0.5em;
  padding-bottom: 0.15em;
  border-bottom: 1px solid #aa9868;
  font-weight: 500;
  font-size: 1.6em;
}

.font-weight-bold {
    font-weight: 500 !important;
}

@media (min-width: 992px) {
    h3 {
        max-width: 50%;
    }
}

h3,
h4,
h5,
h6 {
  padding-bottom: 0.1em;
  border-bottom: 1px solid rgba(200, 177, 139, 0.5);
}

h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.15em;
}

h5 {
  font-size: 1.05em;
}

h6 {
  font-size: 0.875em;
}

a {
  color: var(--gw-light-blue);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--gw-hover);
}

a:focus:not(:focus-visible) {
  outline: 0;
}

b,
strong {
  font-weight: 600;
}

.alert {
  border: none;
  border-radius: 0;
}

#header > .row {
  width: 100%;
  height: fit-content;
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-bottom: none;
  min-height: 3.313rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  #header > .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

#header > .row > .logo {
  height: auto;
  padding: 0;
}

#navigation > .navbar,
#navigation > .navbar > #collapsemenu {
  background-color: var(--gw-dark-blue);
}

#navigation > .navbar > #collapsemenu {
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
}

#navigation ul li a {
  color: var(--gw-white);
  text-decoration: none;
}

#navigation ul li a:hover,
#navigation ul li a:focus {
  text-decoration: none;
}

#navigation ul li {
  display: flex;
  align-items: center;
  height: fit-content;
  background-color: var(--gw-dark-blue);
}

#navigation ul li:hover,
#navigation ul li:focus {
  background-color: var(--gw-light-blue);
}

@media (min-width: 992px) {
  #navigation > .navbar > #collapsemenu {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  #navigation ul li:not(first-child)::before {
    display: inline-block;
    width: 4px;
    margin-left: -2px;
    content: "|";
    color: #688a9c;
  }
      
  #navigation ul li:first-child::before {
    content: none;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0.8rem 1rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.form-control {
  border: 1px solid var(--gw-dark-grey);
  border-radius: 0.1rem;
}

#language_select_dropdown {
  padding: 0.375rem 0.75rem;
  background-color: white;
  border: 1px solid #444;
  border-radius: 0.1rem;
}

/* footer */
section#content {
    margin-bottom: 21.5rem;
}

.panel-footer {
	position: absolute;
	padding: 0;
	bottom: 0;
	border-top: 1px solid #dee2e6;
	display: flex;
	flex-direction: column;
}

#footer-upper {
	height: 12rem;
}

.footer-upper-container {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-upper-container > * {
	margin: 1rem 0;
	padding: 15px;
}

.footer-upper-container > *:not(:last-child) {
	border-right: 1px dotted var(--gw-light-blue);
	border-bottom: none;
}

.footer-block {
	flex: 1;
}

.footer-upper-container ul {
	padding-left: 0;
}

.footer-upper-container p:not(:last-child) {
	margin-bottom: 0.75rem;
	padding-left: 0;
	padding-right: 0;
}

.footer-upper-container p:first-of-type {
	margin-top: 0;
}

.footer-upper-container p:last-of-type {
	margin-bottom: 0;
}

.footer-upper-container #logo img {
	max-width: 100%;
}

#footer-lower {
	height: 9.5rem;
	background-color: var(--gw-dark-blue);
	font-size: 0.8125rem;
}

#footer-lower .footer-wrapper {
	max-width: 43rem;
}

#footer-lower .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#footer-lower .container,
#footer-upper .footer-upper-container {
	width: 100%;
	max-width: 72rem;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

#footer-lower .footer-wrapper {
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

#footer-lower #main-logo img {
	width: 8rem;
	margin-top: 0.4rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
}

#footer-lower .footer-links {
	text-align: right;
	color: var(--gw-white);
}

#footer-lower .footer-links a {
	color: var(--gw-white);
}

#footer-lower .footer-links a:hover {
	color: var(--gw-white);
}

#footer-lower ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#footer-lower ul li {
	padding: 0.4rem 0.2rem;
	display: inline-block;
}

@media (max-width: 777px) {
	section#content {
		margin-bottom: 62rem;
	}

	#footer-upper {
		height: 28.5rem;
	}

	.footer-upper-container {
		flex-direction: column;
	}

	.footer-upper-container > * {
		margin: 0;
	}

	.footer-upper-container > *:not(:last-child) {
		border-right: none;
		border-bottom: 1px dotted var(--gw-light-blue);
	}

	#footer-lower {
		height: 32.5rem;
	}

	#footer-lower .container {
		flex-direction: column;
		align-items: center;
	}

	#footer-lower ul,
	.footer-img #main-logo,
	#footer-lower {
		text-align: center;
	}

	#footer-lower ul li {
		display: block;
	}
}

/* buttons */
.btn,
span.plusminus button,
#submit_search {
  display: inline-block;
  height: 120%;
  padding: 0.375rem 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  text-decoration: none;
  border: 2px solid var(--gw-light-blue) !important;
  border-radius: 0.25rem;
  background-color: var(--gw-light-blue);
  color: var(--gw-white);
  line-height: 1.5;
}

/* buttons */
.btn:hover,
span.plusminus button:hover,
.btn:focus,
span.plusminus button:focus,
#submit_search:hover,
#submit_search:focus {
  text-decoration: none;
  color: #212529;
  border-color: var(--gw-hover-buff) !important;
  background-color: var(--gw-hover-buff);
}
